<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/exam.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <section class="container">
      <div class="title-left">
        <div class="text_img">
          <img src="/assets/images/Union.png" alt="" />
          <span>work</span>
          <span>cation</span>
        </div>
        <span class="title-icon">
          <i class="fa-solid fa-bars"></i>
        </span>
      </div>
      <div class="search-bar">
        <div class="header-search">
          <input type="text" placeholder="Search by keywords" />
          <div class="search_bar_icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <div class="filters">
          <button class="btn-filter">
            <i class="fa-solid fa-bars-filter"></i>
            Filters
          </button>
        </div>
      </div>
      <div class="list-style">
        <div class="header_title">
          <ul class="list_title">
            <li class="list_rigth1">List your property</li>
            <li class="list_rigth2">Trips</li>
            <li class="list_rigth3">Messages</li>
            <li class="list_rigth4">Support</li>
            <img class="img_title" src="/assets/images/image.png" alt="" />
          </ul>
        </div>
      </div>
      <div class="content">
        <section class="main-content">
          <div class="title-content">
            <h4 class="header-title">Los Angeles</h4>
            <div class="flex-title">
              <p class="text-title">
                Live like the stars in these luxurious Southern California
                estates.
              </p>
              <p class="link-title">View all</p>
            </div>
          </div>
          <div class="cart-content">
            <div class="cart-img img1">
              <img class="img1" src="/assets/images/image1.png" alt="" />
              <div class="cart-item">
                <div class="cart-header">
                  <span class="plus">plus</span>
                  <span>3BEDS &bull; 2BATHS</span>
                </div>
                <div class="cart-content1">
                  <p>Modern home in city center</p>
                </div>
                <div class="cart-price">
                  <span
                    >$1,400 <span class="cart_price_postfix">/wk</span></span
                  >
                </div>
                <div class="cart-grade">
                  <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span> 34 Reviews</span>
                </div>
              </div>
            </div>
            <div class="cart-img img2">
              <img class="img2" src="/assets/images/image 2 (4).png" alt="" />
              <div class="cart-item">
                <div class="cart-header">
                  <span>3BEDS &bull; 2BATHS</span>
                </div>
                <div class="cart-content1">
                  <p>Isolated house outside of...</p>
                </div>
                <div class="cart-price">
                  <span
                    >$1,400 <span class="cart_price_postfix">/wk</span></span
                  >
                </div>
                <div class="cart-grade">
                  <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span> 34 Reviews</span>
                </div>
              </div>
            </div>
            <div class="cart-img">
              <img class="img3" src="/assets/images/image 2 (1).png" alt="" />
              <div class="cart-item">
                <div class="cart-header">
                  <span class="plus">plus</span>
                  <span>3BEDS &bull; 2BATHS</span>
                </div>
                <div class="cart-content1">
                  <p>Large dream home with...</p>
                </div>
                <div class="cart-price">
                  <span
                    >$1,400 <span class="cart_price_postfix">/wk</span></span
                  >
                </div>
                <div class="cart-grade">
                  <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span> 34 Reviews</span>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="main_content__down">
          <div class="content_title__down">Phoenix</div>
          <div class="flex-title">
            <p class="text-title">
              Escape the cold and enjoy great weather without breaking the bank.
            </p>
            <p class="link-title">View all</p>
          </div>
          <div class="cart-content">
            <div class="cart-img img1">
              <img class="img1_2" src="/assets/images/image 4 (1).png" alt="" />
              <div class="cart-item">
                <div class="cart-header">
                  <span class="plus">plus</span>
                  <span>3BEDS &bull; 2BATHS</span>
                </div>
                <div class="cart-content1">
                  <p>Modern home in city center</p>
                </div>
                <div class="cart-price">
                  <span
                    >$1,400 <span class="cart_price_postfix">/wk</span></span
                  >
                </div>
                <div class="cart-grade">
                  <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span> 34 Reviews</span>
                </div>
              </div>
            </div>
            <div class="cart-img img2">
              <img class="img2_2" src="/assets/images/image 2 (3).png" alt="" />
              <div class="cart-item">
                <div class="cart-header">
                  <span>3BEDS &bull; 2BATHS</span>
                </div>
                <div class="cart-content1">
                  <p>Isolated house outside of...</p>
                </div>
                <div class="cart-price">
                  <span
                    >$1,400 <span class="cart_price_postfix">/wk</span></span
                  >
                </div>
                <div class="cart-grade">
                  <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span> 34 Reviews</span>
                </div>
              </div>
            </div>
            <div class="cart-img">
              <img class="img3_2" src="/assets/images/image 3.png" alt="" />
              <div class="cart-item">
                <div class="cart-header">
                  <span class="plus">plus</span>
                  <span>3BEDS &bull; 2BATHS</span>
                </div>
                <div class="cart-content1">
                  <p>Large dream home with...</p>
                </div>
                <div class="cart-price">
                  <span
                    >$1,400 <span class="cart_price_postfix">/wk</span></span
                  >
                </div>
                <div class="cart-grade">
                  <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span> 34 Reviews</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="number-room">
        <div class="input_header">
          <div class="input_title1">
            <label for="rom">Bedrooms</label>
            <select id="room" name="room">
              <option class="select_option" value="4">4</option>
              <option class="select_option" value="8">8</option>
              <option class="select_option" value="2">2</option>
            </select>
          </div>
          <div class="input_title2">
            <label for="rom">Bedrooms</label>
            <select id="room" name="room">
              <option class="select_option" value="2">2</option>
              <option class="select_option" value="8">8</option>
              <option class="select_option" value="4">4</option>
            </select>
          </div>
        </div>
        <div class="input_header2">
          <label for="price">Price Range</label>
          <select id="price" name="price">
            <option class="select_option" value="2$">Up to $2,000 /wk</option>
            <option class="select_option" value="7$">Up to $7,000 /wk</option>
            <option class="select_option" value="8$">Up to $8,000 /wk</option>
          </select>
        </div>
      </div>
      <div class="input-audio">
        <div class="input_radio">
          <p class="radio_title">Property Type</p>
          <div class="radios">
            <div class="radio__flex">
              <input
                class="w3-radio"
                type="radio"
                name="prototype"
                id="contactChoice2"
                checked
              />
              <label for="contactChoice2">House</label>
            </div>
            <div class="radio__flex">
              <input
                class="w3-radio"
                type="radio"
                name="prototype"
                id="contactChoice2"
              />
              <label for="contactChoice2">Apartment</label>
            </div>
            <div class="radio__flex">
              <input
                class="w3-radio"
                type="radio"
                name="prototype"
                id="contactChoice2"
              />
              <label for="contactChoice2">Loft</label>
            </div>
            <div class="radio__flex">
              <input
                class="w3-radio"
                type="radio"
                name="prototype"
                id="contactChoice2"
              />
              <label for="contactChoice2">Townhouse</label>
            </div>
          </div>
        </div>
      </div>
      <div class="input-checbox">
        <section class="section_midd">
          <div class="checkboxs__all">
            <p class="radio_title">Amenities</p>
            <div class="checkboxs">
              <div class="flex_checkbox">
                <label for="contactChoice2">
                  <input
                    class="w3-radio"
                    type="checkbox"
                    id="contactChoice2"
                  /><span>Balcony</span>
                </label>
              </div>
              <div class="flex_checkbox">
                <label for="contactChoice2">
                  <input
                    class="w3-radio"
                    type="checkbox"
                    id="contactChoice2"
                  /><span>Air conditioning</span>
                </label>
              </div>
              <div class="flex_checkbox">
                <label for="contactChoice2">
                  <input
                    class="w3-radio"
                    type="checkbox"
                    id="contactChoice2"
                    checked
                  /><span>Pool</span>
                </label>
              </div>
              <div class="flex_checkbox">
                <label for="contactChoice2">
                  <input
                    class="w3-radio"
                    type="checkbox"
                    id="contactChoice2"
                  /><span>Beach</span>
                </label>
              </div>
              <div class="flex_checkbox">
                <label for="contactChoice2">
                  <input
                    class="w3-radio"
                    type="checkbox"
                    id="contactChoice2"
                  /><span>Pet friendly</span>
                </label>
              </div>
              <div class="flex_checkbox">
                <label for="contactChoice2">
                  <input
                    class="w3-radio"
                    type="checkbox"
                    id="contactChoice2"
                  /><span>Kid friendly</span>
                </label>
              </div>
              <div class="flex_checkbox">
                <label for="contactChoice2">
                  <input
                    class="w3-radio"
                    type="checkbox"
                    id="contactChoice2"
                  /><span>Parking</span>
                </label>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="btn-update">
        <section class="footer_left">
          <div class="footer_left_btn">
            <button class="btn_left">Update results</button>
          </div>
        </section>
      </div>
    </section>
  </body>
</html>
